.button {
  color: $colblack;
  background-color: $colgraymed;
  font-family: $ffhead;
  border-radius: 0.5em;
  border-style: none;
  padding: 0.5rem 1rem;
  margin: 1.5rem 1rem;
  font-size: $fontsizeXL;
  font-weight: bold;
}

.button:hover {
  background-color: $colgraydark;
}

.button--selected {
  background-color: $colgreenlight;
}

.button--selected:hover {
  background-color: $colgreendark;
}