
.card {
  background-color: $colgraymed; 
  margin-bottom: $gutter*2;
  font-weight: bold;
}

.card:hover {
  background-color: $colgraydark;
}

.a {
  display: flex;
  font-family: $ffhead;
  width: 100%;
  flex-direction: column;
  margin-bottom: $gutter*2;
  font-weight: bold;
  background-color: $colgraymed;
}

a:link {
  color: $colblack;
  text-decoration: none;

}

a:visited {
  color: $colblack;
  text-decoration: none;
}

@media (min-width: 1100px) {
  .card {
    width: 31%;
  }
}

.card__main{
  height: $gutter*12;
}

.card__footer {
  width: 100%;
  padding: $gutter/2;
}

.card__footer__head {
  font-size: $fontsizeM;
  text-transform: uppercase;
}

.card__footer__main {
  font-size: $fontsizeXL;
}

.card--hidden {
  display: none;
}

.card__footer__check {
  font-size: $fontsizeXXL;
  color: $colgreenlight;
  margin-right: $gutter;
}

.card__footerwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}