
.card {
  display: flex;
  font-family: $ffhead;
  width: 100%;
  flex-direction: column;
  margin-bottom: $gutter*2;
  font-weight: bold;
  background-color: $colgraymed;
}

.card:hover {
  background-color: $colgraydark;
}

@media (min-width: 1100px) {
  .card {
    width: 31%;
  }
}

.card__footer {
  width: 100%;
  padding: $gutter/2;
  align-self: flex-end;
}

.card__footer__head {
  font-size: $fontsizeM;
  text-transform: uppercase;
}

.card__footer__main {
  font-size: $fontsizeXL;
}
