$max-width: 1200px;
$gutter: 20px;

$fontsizeM: 1rem;
$fontsizeL: 1.5rem;
$fontsizeXL: 2rem;
$fontsizeXXL: 3rem;

$colgraydark: #999;
$colgraymed: #aaa;
$colgraylight: #ccc;
$colblack: #000;
$colgreenlight: #2d2;
$colgreendark: #1a1;
$colyellow: #fcffd2;
$colbrown: #cc9694;

$ffhead: 'Roboto Mono', 'Courier New', monospace;
$ffmain: 'Lora', 'Times New Roman', serif;

html {
    font-size: 16px;
}

div {
  
}
